.cat_excerpt{
	p{
		font-size: 16px;
		color: #000000;
		font-weight: 400;
		font-family: $robotocondensedregular;
	}
	.titre_prix{
		font-size: 42px;
		line-height: 30px;
		color: #000000;
		font-weight: 700;
		font-family: $robotocondensedbold;
		text-transform: uppercase;
	}
}
.cat_image{
	padding: 10% 0;
	border: 1px solid #f0f0f0;
}
.rubrique_info-childs{
	margin-top: 14px;
	margin-bottom: 14px;
	a.btn.btn-primary{
		font-size: 14px;
		line-height: 10px;
		color: #7f7f7f;
		font-family: $robotocondensedbold;
		text-align: right;
		text-transform: uppercase;
		background-color: transparent;
		border: none;
		padding-right : 0px;
	}
	.cat_name{
		font-size: 32px;
		line-height: 30px;
		color: #000000;
		font-family: $robotocondensedbold;
		display: inline;
	}
}
	.post{
		.info_cat{
			top: 63%;
			left: 34%;
			right: 34%;
			text-align: center;
			position:absolute;
		}
		// .post_date
		&_date{
			text-align: center;		
		}
		// .post_title
		&_title{
			text-align: center;
			margin-top: 0px;
			margin-bottom: 15px;
		}	
	}
.page-name-prix-pleine-vie-2021{
	.breadcrumb{
		li{
			&:last-child{
				display: none;
			}
		}
	}
}