.block_diapo {
    .btn-navs,
    .caption-navs {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        @include border-radius(50px);
        @include transition(opacity .2s linear);
        @include opacity(.5);
        font-size: 0;
        line-height: 0;
        cursor: pointer;
        text-align: center;
        background-color: #fff;
        @include translateY(-50%);
        &:hover {
            @include opacity(1);
        }
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;

            width: 20px;
            height: 16px;

            background-image: url("../images/arrows.png");
            background-repeat: no-repeat;

            @include translate(-50%, -50%);
        }
        &._left {
            left: 15px;
            &:before {
                content: '';
                background-position: 0 0;
            }
        }
        &._right {
            right: 15px;
            &:before {
                content: '';
                background-position: -24px 0;
            }
        }
    }
}

@media (max-width: $screen-xs-max){
    .block_diapo {
        figure, .figure {
            img{
                height: auto;
            }
        }
    }
}