header{
	.navbar-nav {
		width: 100%;
	}
	.menu-site {
		width: 100%;
		padding-left: 35px;
		padding-right: 35px;
	}
	.submit_search_btn {
		position: absolute;
		right: 0;
	}
	.default-toggle {
		position: absolute;
		left: 0;
	}
}