/*  *************  newsticker  ************** */

.newsticker {
    border-radius: 18px;
    display: flex;
    align-items: center;
    color: #389b12;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-align: center;
    background: rgba(255, 255, 255, 0.883);
    width: 90%;
    margin: 1rem auto;
    height: 50px;
    border-radius: 10px;
    border: 4px double #389b12; 
    padding-right: 10px;
    
  
  }
  .newstitle {
    text-shadow: #2e850ccf 0.4px 0.5px 0.5px; 
    color: #42b615;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 22px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12%;
    width: 140px; 
  }
  @media screen and (max-width:900px){
    .newstitle {
      
      font-size: 18px; 
      width: 120px; 
    }
  }
  @media screen and (max-width:556px){
    .newstitle {
      
      font-size: 15px; 
      width: 105px; 
    }
  }
  .newsbarrier {
    height: 40px;
    width: 3px; 
    background-color: #42b615;
    border-radius:50%;
    margin-right: 10px;
  }

  .main {
    max-width: 1000px;
    margin: auto;
  }
   
  .post-container {
    width: 90%;   
    overflow: hidden; 
    margin: auto; 
  }
  .post-items {
     width: 1200px;  /*for 4 posts   */ 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-decoration: none;
    font-family: "arabswell_1";
    animation: ticker 40s linear infinite ;
    
  }
  
  .post-items:hover {
    animation-play-state: paused;
  }
  .post-item{
    white-space: nowrap;
    margin: 0 20px;
    cursor: pointer;
    transition: .4s ease-in-out;
  }
  .post-item a{
    cursor: pointer;
    transition: .4s ease-in-out;
    color: #389b12;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;;
  }
  
   .post-item:hover {
    filter: brightness(1.1);
    text-decoration: solid;
    animation: headShake 2s ease-in-out;  
    transition: .4s ease-in-out;
  } 
   .post-item:hover > .fad.fa-bookmark{
    text-decoration: solid;
  } 
  .fad.fa-bookmark {
    margin-left:8px; 
    color: #379c0f;
  }
  
  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(-100%);  
      
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%); 
      
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  
    }
  }
  
  /*  *************  newsticker  ************** */
 

  /* *******************   sidebar  ********************** */
  
  .s-line {
    margin: 10px 0;
    margin-bottom: 20px;
    position: relative;
  }
  .s-line:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 80%;
    margin: auto 10%;
    border-bottom: 1px dotted #389b12;   
  }
  
  .s-diviver {
    margin: 40px 0 55px 0; 
  }
  .sidebar {
    position: absolute;
    width: 26vw;
    margin-bottom: 20vh;
    margin-top: 5vh; 
    padding-bottom: 5vh; 
   
  }
  .side-social {
    border: 4px double #389b12;
    border-radius: 10px;
    width: 90%; 
    max-width: 341px;
    margin: auto;
    background: #ffffff;
 
  }
  .s-title {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.883);
    color: #389b12;
    font-family: "arabswell_1";
    font-size: 20px;
    width: 50%;
    padding: 0;
    border-radius: 50%;
    margin-top: -22px; 
    word-spacing: 7px;
    border: 1px double #389b12;  
  }
  @media screen and (max-width:1020px) {
  
    .s-title {
      word-spacing: 0px;
      font-size: 15px;
      margin-top: -18px; 
    }
  
  }
  
  .last-added {
    border: 4px double #389b12; 
    border-radius: 10px;
    width: 90%;
    max-width: 380px;
    margin: auto;
    background: #ffffff;

  }

  .side-item {
    width: 96%;   
    margin-bottom: 2%;
    padding-bottom: 4%;
    margin-top: 2%;
    padding-top: 2%;
    border-bottom: 1px solid #efefef; 
  }

  .side-item:last-of-type { 
    margin-bottom: 2%;
    border-bottom: 0;
  }
  .side-thumb { 
    display: flex;
    align-items: center;
    width: 30%; 
    margin-left:4%; 
    height: 80px; 
    border-radius: 5px; 
    float: right;
    overflow: hidden !important;
    transition: .2s ease-in-out; 
  }
  .side-thumb:hover {
    overflow: hidden !important;
    filter: brightness(1.1);
    transition: .2s ease-in-out;
  }
  
  .side-thumb > a > img{
     max-width: 100%;
     height: auto;
    user-select: none;
    border-radius: 5px; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;  
    transition: .3s ease-in-out;  
  }
  
  .side-thumb > a > img:hover{
    transform: scale(1.05); 
    transition: .3s ease-in-out;
  }
  
  .side-txt {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
     height: 85px;
  }
  
  .side-meta-tags:not(.fad) {
    width: 100%;
    display: flex;  
    flex-direction: row-reverse; 
    font-size: 13px; 
    font-family: 'Amiri', serif;
    
  }
  .side-meta-tags .fad {
    margin-left: 5px; 
    color: #2da000;
    
  }
  .side-item .post-categories * {
    color: #2da000 !important;
}

  .side-meta-category {
    display: flex;
    align-items: center;
    flex-direction: row-reverse !important;
    background-color: #389b1236;
    padding: 2px 8px;
    border-radius: 4px;  
  }
 
  .side-title {
    margin-right: 0 !important;
    min-width: 100%;
    align-items: center; 
    font-size: 22px;
    width: 100%;
    text-align: right;
    line-height: 22px; 
  }

  @media screen and (max-width:660px) {
  
    .most-visited,.last-added,.side-social 
    { 
      width: 100% !important;  
    }  
    .s-title::after{  
      right: 23% ;  
    }
    .s-title::before{    
      left: 26%; 
    }
  }
  
  
  .side-title a {
    text-decoration: none;
    color: rgba(68, 68, 68, 0.911);
    font-family: 'El Messiri', serif;
    font-size: 15px;
    background-color: transparent;
    transition: .2s ease-in-out;
  }
  .side-title a:hover{
    color: #389b12; 
    filter: brightness(1.1);
    transition:.2s ease-in-out;
    background-color: transparent;
  } 
  
  
  .most-visited{
    border: 4px double #389b12;  
    border-radius: 10px;
    width: 90%;
    max-width: 380px;
    margin: auto;
    background: #ffffff;
    
  }
 
  
  /* *******************   sidebar  ********************** */
  
  
  /* *******************   post  ********************** */
  
  .page {
    display: grid;
    grid-template-columns: 30vw 60vw;
    margin: auto;
    justify-content: center;
  }
  .main {
    grid-column-start: 2;
    min-height: 2500px;
    margin-top: 5%;
  }
  .blog-item {
    border: 4px double #389b12;
    border-radius: 10px;
    width: 90%; 
    margin: auto;
    background: #ffffff;
     display: flex;
     flex-direction: column; 
  }
  .comments {
    width: 80%;
    margin: auto;
  }
  .post-thumb {
    border-radius: 5px;
    transition: .2s ease-in-out;
    overflow: hidden;
    height: 400px;
    border-bottom:1px solid #efefef;
  }
  @media screen and (max-width:600px) {
    .post-thumb {
      border-radius: 5px;
      transition: .2s ease-in-out;
      overflow: hidden;
      height: 300px ; 
    }
  }
  
  .post-thumb:hover {
    filter: brightness(1.1) saturate(1.05);
    transition: .2s ease-in-out;
  }
   
  .post-thumb > img{
    width:100% !important;  
    height: 100% !important;
    border-radius: 5px;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;  
    transition: .33s ease-in-out;
  }
  .post-thumb > img:hover{
    transform: scale(1.05) rotate(-1deg); 
    transition: .33s ease-in-out;
  }
  
  .post-txt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
  }
  .post-txt h2{
    font-family: 'El Messiri', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
  }
  
  div.hr-line {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #efefef;
  }   
  .post-txt h2 a {
    text-decoration: none;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #3ccc4d 0%, #2e850c 74%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: .2s ease-in-out;
  }
  .post-txt h2 a:hover{
    filter: brightness(1.2) contrast(0.8);
    transition: .2s ease-in-out;
  }
  .main-post{
    width: 90%;  
    text-align: center;
    font-family: 'Amiri', serif;
    color: rgb(88, 88, 88);
    line-height: 2.5em;
    font-size: 21px; 
    border-radius: 6px;
    margin: 4% auto;
  }
  
  .main-post img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 2% auto; 
    filter: drop-shadow(1px 1px 10px);
    border: #fffffff8 solid 7px; 
    border-radius: 3px;
    margin-right: -8px;
    }
  
    .wp-block-embed__wrapper iframe{
    margin-top: 10px;
    max-width: 100%;
    filter: drop-shadow(1px 1px 10px);
    border: #fffffff8 solid 7px; 
    border-radius: 3px;
    }
 
  .meta-top {
    width: 90%;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(88, 88, 88, 0.075);
    border-radius: 10px;
  }
  .meta-tags:not(.fad) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    font-size: 18px; 
    column-gap: 2vw;
    font-family: 'Amiri', serif;
    color: rgb(88, 88, 88);
  }

  .meta-date {
    display: flex;
    align-items: center;   
  }

  .post-categories *{
    list-style: none;
    text-decoration: none;
    color: rgb(88, 88, 88) !important;
    transition: .3s ease-in-out;
  }
  .post-categories {
    width: 100%;
    margin: 0;
    padding: 0;  
  }
  .post-categories *:hover{
   color: #42b814 !important;
   transition: .3s ease-in-out;
  }
  .meta-category {
    display: flex;
    align-items: center;
    margin: auto 6px;
  }

  @media screen and (max-width:600px){
    .meta-tags:not(.fad) {
      font-size: 15px; 
    }
    .post-txt h2 {
      font-size: 22px;
    }
  }
  @media screen and (max-width:400px){
    .meta-category{
      margin: auto 2vw;
    }
  }  
  .meta-tags .fad {
    margin-left: 5px;
    color: #2da000;
  }
  .fa-clock {
    font-size: 19px; 
  }
  @media screen and (max-width:700px) {

    .wp-block-image {
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      }
  .wp-block-embed {
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
      }
  .main-post{
    font-size: initial;
    width: 94%; 
      }
  }

    /*   ***********   Share post   *************   */
  
  .topic-share{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .share2social{
    padding : 40px 0 20px 0 ;
    border-top:1px solid #efefef;
    text-align:center;
    position:static;
    top:auto;
    right:auto;
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  } 
  .share2social li{
    display:inline-block;
    vertical-align:top;
    min-width:110px;
    margin: 0 7px 7px 0;
    padding:0;
    text-align: center;
    cursor: pointer;
  } 
  .share2social li:hover{-webkit-box-shadow:0 90px 75px 1px rgba(255,255,255,0.0) inset,0 3px 5px -2px rgba(0,0,0,0.3);box-shadow:0 90px 75px 1px rgba(255,255,255,0.0) inset,0 3px 5px -2px rgba(0,0,0,0.3);-webkit-animation:Share .2s ease-in-out;animation:Share .2s ease-in-out} 
  @-webkit-keyframes Share{ 50%{-webkit-transform:scaleX(0.9);transform:scaleX(0.9)} 100%{-webkit-transform:scaleX(1.1);transform:scaleX(1.1)} } 
  @keyframes Share{ 50%{-webkit-transform:scaleX(0.9);transform:scaleX(0.9)} 100%{-webkit-transform:scaleX(1.1);transform:scaleX(1.1)} } 
  
  
  .share2social li  {
    display:block;
    padding:5px 6px; 
    font-size:14px;
    font-family: 'Changa', sans-serif;
    color:#FFF;
    -webkit-box-shadow:0 90px 75px 1px rgba(255,255,255,0.1) inset;
    box-shadow:0 90px 75px 1px rgba(255,255,255,0.1) inset;
    border-radius:100px;
    text-align:right;
    height:30px;
    overflow:hidden; 
  } 
  
  .share2social li i {
    font-size: 18px;
    vertical-align: -2px;
    margin-left: 10px;
    background-color: rgba(0,0,0,0.2);
    width: 30px; 
    height: 30px;
    text-align: center;
    border-radius: 100px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .share2social li:hover b{
    margin-top:-2px;
    transition: .3s ease-in-out;
  } 
  .share2social li b{
    float:right;
    margin-top:2px;
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    transition: .3s ease-in-out;
  } 
  .share2social li:hover span{
    margin-top:-13px; 
    transition: .3s ease-in-out;
  }
  
   .share2social li span{
     font-size:10px;
     color:rgba(255,255,255,0.5);
     display:block;
     clear:both;
     float:right;
     margin-right:40px;
     margin-top:6px;
     -webkit-transition-delay:.2s;
     transition-delay:.2s;
     transition: .3s ease-in-out;
    }
    .share2social li i:hover{
     background-color:#FFF;
     -webkit-animation: Share2 .2s ease-in-out;
     animation: Share2 .2s ease-in-out;
    } 
   @-webkit-keyframes Share2{ 
    50% {
    -webkit-transform:scale(0.8);
      transform:scale(0.8)
    } 
      100% {
        -webkit-transform:scale(1.3);
        transform:scale(1.3)
      } 
    } 
    @keyframes Share2{ 
      50% {
      -webkit-transform:scale(0.8);
        transform:scale(0.8)
      } 
        100% {
          -webkit-transform:scale(1.3);
          transform:scale(1.3)
        } 
      } 
  
      .share2social li.share2-whatsapp > b { margin-right: -1px !important ;}    
      .share2social li.share2-linkedin > b { margin-right: -3px;}  
      .share2social li.share2-pinterest > b { margin-right: 4px;}  
      .share2social li.share2-facebook > b { margin-right: 5px;}
      .share2social li.share2-email > span { margin-right: 43px;}
      .share2social li.print > span { margin-right: 45px;}
    .share2social li.share2-facebook{background-color:#3b5998} 
    .share2social li.share2-twitter{background-color:#1da1f2}
    .share2social li.share2-pinterest{background-color:#cc2127} 
    .share2social li.share2-linkedin{background-color:#2384bc} 
    .share2social li.fa-google-plus{background-color:#dd4b39}
    .share2social li.share2-whatsapp{background-color:#189d0e} 
    .share2social li.share2-whatsapp i{background-color:#189d0e;font-size: 28px;}  
    .share2social li.share2-email{background-color:#7954ad} 
    .share2social li.print{background-color:#555555} 
    .share2social li.share2-facebook:hover i{color:#3b5998;background-color:#FFF;} 
     .share2social li.share2-twitter:hover i{color:#1da1f2;background-color:#FFF;} 
      .share2social li.share2-pinterest:hover i{color:#cc2127;background-color:#FFF;}  
      .share2social li.share2-linkedin:hover i{color:#2384bc;background-color:#FFF;}  
      .share2social li.share2-whatsapp:hover i{color:#189d0e;background-color:#FFF;font-size: 26px;}   
       .share2social li.share2-email:hover i {color:#7954ad;background-color:#FFF;} 
       .share2social li.print:hover i{color:#555555 ;background-color:#FFF;} 
   
  
      /*   ***********   Share post   *************   */

       /* *******************   post pagination  ********************** */

       .post-pagination {
        border: 1px solid #389b12; 
        border-radius: 6px; 
        height: 200px;
        margin: 50px auto 60px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
    }
    .pag-post-text {
        text-align: center;
        margin: auto 10% auto 60%;
        filter: brightness(105%);
        color: rgb(236, 194, 6);
        text-shadow: rgba(0, 0, 1, 0.65) 1px 1px 2px;
        font-family: "El Messiri", sans-serif;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 4px;
        border-radius: 4px;
        background-color: rgba(236, 194, 6, 0.2);
        direction: ltr;
    }    
      .pag-post {
      margin-top: 1%;
      width: 50%;
      flex: 1;
      padding: 5%;
      }
     
      .post-pagination-line {
          width: 1px;
          border-radius: 10px;
          height: 90%;
          background-color: #efefef;
          position: relative; 
      }
      
      .pag-post-side-item {
        margin-left: 5%;
        margin-bottom: 2%;
        padding-bottom: 3%;
        margin-top: 7%;
        padding-top: 6%;
        border-top: 1px solid #efefef;
      }    
      .pag-post-side-thumb { 
        width: 40%;
        max-width: 100px;
        margin-left:4%; 
        height: 80px; 
        border-radius: 5px; 
        float: right;
        overflow: hidden !important;
        transition: .2s ease-in-out; 
      }
      .pag-post-side-thumb:hover {
        overflow: hidden !important;
        filter: brightness(1.1);
        transition: .2s ease-in-out;
      }
      
      .pag-post-side-thumb > a > img{ 
        user-select: none;
        border-radius: 5px; 
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;  
        transition: .3s ease-in-out;    
      }
      
      .pag-post-side-thumb > a > img:hover{
        transform: scale(1.05); 
        transition: .3s ease-in-out;
      }
     .pag-post-side-txt {
        display: flex;
        height: 80px;
        flex-wrap: wrap;
        align-content: space-between;
      }  
      .pag-post-side-meta-tags:not(.fad) {
        direction: ltr;
        font-size: 13px; 
        font-family: 'Amiri', serif;      
      }
      .pag-post-side-meta-tags .fad {
        margin-left: 5px; 
        color: #2da000;
        
      }
      .pag-post-side-item .post-categories * {
        color: #2da000 !important;
      }
      
      .pag-post-side-meta-category {
        display: flex;
        align-items: center;
        flex-direction: row-reverse !important;
        background-color: #389b1236;
        padding: 2px 8px;
        border-radius: 4px; 
      }
      
      .pag-post-side-meta-category-title {
        color: #2da000 !important;
      }
      .pag-post-side-meta-category-title a{
        color: #2da000 !important;
        text-decoration: none;
      }
      
      .pag-post-side-title {
        margin-right: 0 !important;
        min-width: 100%;
        align-items: center; 
        font-size: 22px;
        width: 100%;
        text-align: right;
        line-height: 18px;
      }     
      .pag-post-side-title > a:hover {
              color: #389b12;
              filter: brightness(1.1);
              transition: .2s ease-in-out;
              background-color: transparent;       
            } 

      .pag-post-side-title > a{
        text-decoration: none;
        color: rgba(68, 68, 68, 0.911);
        font-family: 'El Messiri', serif;
        font-size: 15px;
        background-color: transparent;
        transition: .2s ease-in-out;
              
            }
      @media screen and (max-width:700px) {
        .post-pagination { 
          flex-direction: column-reverse;
           height: auto;
           margin: auto;
           width: 80%;
           margin-top: 50px;
           POSITION: relative;
           OVERFLOW: hidden;
           padding: 0 10px;

        }
        .post-pagination-line {
          height: 100%;
          transform: rotate(90deg);
          position: absolute; 
      }
      .pag-post {
        margin-top: 4%;
        width: 90%;
    }
      }

      /* *******************   post pagination  ********************** */
 
  @media screen and (max-width: 900px) {
    .page{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: calc(100% + 1rem);
    }
    
    main {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      width: calc(100% + 1rem);
    }

    .main {
      grid-column-start: 2;
      min-height: 0;
      margin-top: 5%;
    }
    
    .sidebar {
      width: 60vw;
      margin-top: 20vh;
      position: relative; 
    }
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 65vw;
    }
  }
  @media screen and (max-width: 600px) {
    .sidebar {
      width: 70vw;
    }
  }
  @media screen and (max-width: 400px) {
    .sidebar {
      width: 80vw;
    }
  }
    
  html {
    position: relative;
    min-height: 100%;
}


