/*
----------    Footer    ----------
*/
footer{
	position: relative;
	font-size: 14px;
	padding: 20px 20px 0 20px;
	margin-top: 20px;
	background-color: #000;
	color: #fff;

	.widget{
		//.widget-title
		&-title{
			font-family: $Lexend-SemiBold;
			font-size: 32px;
			margin-bottom: 5px;
			text-transform: lowercase;
			&::first-letter{
				text-transform: uppercase;
			}
		}
		//.widget_text
		&_text{
			text-align: center;
			padding: 20px 50px;
			font-size: 16px;
		}
	}
	.reseaux-sociaux{
		margin-bottom: 0;
		margin-top: 20px;
		li{
			display: inline-block;
			padding: 0;
			margin-left: -1px;
		}
		//.reseaux-sociaux-btn
		&-btn{
			display: inline-block;
			width: 45px;
			height: 45px;
			border: 1px solid #fff;
			background-repeat: no-repeat;
			background-position: center;
			overflow: hidden;
			font-size: 0;
			@include transition(background-color .2s linear);
			&:hover {
				background-color: #fff;
				&:after {
					color: #000;
				}
			}
			&:after{
				font-family: $fontawesome-brands;
				font-weight: 400;
				color: #fff;
				font-size: 18px;
				line-height: 45px;
			}
			&.fb, &.facebook {
				&:after {
					content: "\f39e";
				}
			}
			&.tw, &.twitter {
				&:after {
					content: "\f099";
				}
			}
			&.pint, &.pinterest {
				&:after {
					content: "\f231";
				}
			}
			&.cam, &.instagram {
				&:after {
					content: "\f16d";
				}
			}
			&.yt, &.youtube {
				&:after {
					content: "\f167";
				}
			}
			&.daily, &.dailymotion {
				&:after {
					content: "\e052";
				}
			}
		}
	}
}


.footer{
	//.footer-widget
	&-widget{
		float: none;
		padding-bottom: 20px;
		border-bottom: 1px solid #fff;
	}
	//.footer-logo
	&-logo{
		max-width: 275px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	//.footer-subscribe
	&-subscribe{
		.btn{
			background-color: $brand-primary-light;
			border-color: $brand-primary-light;
			margin: 20px auto auto;
			width: fit-content;
			&:hover{
				background-color: #fff;
				border-color: #fff;
				color: $brand-primary-light;
			}
		}
	}
}

.menu-footer{
	text-align: center;
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
	li{
		padding-right: 20px;
		&:last-child{
			padding-right: 0;
		}
		a{
			font-size: 16px;
			color: #fff;
			font-family: $LexendMedium;
			text-transform: uppercase;
		}
	}
}
.sub-menu-footer{
	border: none;
	li{
		margin-top: 5px;
		margin-bottom: 5px;
		a{
			font-size: 14px;
		}
	}
}

#footer-top-menu.menu-footer{
	li a{
		font-size: 14px;
	}
}

// Responsive
@media (max-width: $screen-sm-max){
	#footersite{
		text-align: center;
		.menu-footer{
			width: 100%;
			margin-bottom: 10px;
		}
		.pull-right{
			float: none!important;
		}
	}
}

@media (max-width: $screen-xs-max){
	footer{
		.widget{
			// .widget_text
			&_text{
				padding-right: 10px;
				padding-left: 10px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}



