.post{
	overflow: hidden;
	// .post-excerpt
	&-excerpt,
	.excerpt{
		font-size: 20px;
		color: #000;
		font-weight: 600;
		font-family: $LexendBold;
		margin-top: 0 !important;
	}
	// .post-excerpt
	&-excerpt {
		.wpcf_headline{
			font-family: $LexendBold;
    		font-size: 16px;
		}
		.wpcf_ent{
			font-family: $LexendRegular;
    		font-size: 16px;
    		font-weight:100;
		}
	}
}
#top_intro_article {
	padding-bottom: 10px;
	// .post_info_title
	.title{
		font-family: $LexendMedium;
		font-size: 32px;
		margin-top: 0;
		margin-bottom: 10px;
		color: #000;
	}
	.publish_date, .author_recette, .date_recette, .edited_date{
		&:after {
			content: "|";
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	.publish_date, .author_recette, .date_recette, .edited_date, .post_author{
		font-family: $LexendRegular;
		font-size: 14px;
		color: #77777e;
	}
}

#results{
	background-color: #fff;
	margin-bottom: 30px;
}

.image_top_single,
.post iframe{
	margin-bottom: 20px;
}

.article_body_content{
	&,p{
		font-family: $LexendMedium;
		font-size: 18px;
		color: #77777e;
		a{
			color: $brand-primary;
			font-weight: bold;
			text-decoration: none;
			&:hover {
				color: $brand-primary-light;
			}
		}
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		font-family: $LexendBold;
		color: #333333;
	}
	h2{
		font-size: 22px;
	}
	span {
		line-height: initial;
	}
	ul {
		li {
			list-style-type: circle;
		}
	}
}

blockquote {
	padding: 0;
	border-left: none;
	font-size: 18px;
	font-style: italic;
}
.top_img{
	display: block;
	margin-bottom: 20px;
	img{
		margin: auto;
	}
}
.comment-form{
	.comment-area{
		padding:0px;
	}
}
.span_aussi{
	color: $brand-primary-light;
}

.event_Date{
	font-family: $LexendMedium;
	color: $brand-primary-light;
}